<?xml version='1.0' encoding='utf-8'?>
<robot name="smplx_left_palm_wrist">
  <material name="smplx_body" />
  <link name="L_Wrist_Base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-06" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
  </link>
  <link name="L_Wrist__0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-06" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
  </link>
  <joint name="L_Wrist_x" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_Wrist_Base" />
    <child link="L_Wrist__0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.141592654" upper="3.141592654" effort="300" velocity="100" />
    <dynamics damping="30" friction="0" />
  </joint>
  <link name="L_Wrist__1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-06" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
  </link>
  <joint name="L_Wrist_y" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_Wrist__0" />
    <child link="L_Wrist__1" />
    <axis xyz="0 1 0" />
    <limit lower="-3.141592654" upper="3.141592654" effort="300" velocity="100" />
    <dynamics damping="30" friction="0" />
  </joint>
  <link name="L_Wrist">
    <inertial>
      <origin xyz="-0.0031 0.0523 -0.0013" rpy="0 0 0" />
      <mass value="0.260957411" />
      <inertia ixx="0.0001813349556" ixy="0" ixz="0" iyy="0.0001611681669" iyz="0" izz="0.0002985213605" />
    </inertial>
    <visual>
      <origin xyz="-0.0031 0.0523 -0.0013" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.0856 0.0318" />
      </geometry>
      <material name="smplx_body">
        <color rgba="0.8 0.6 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0031 0.0523 -0.0013" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.0856 0.0318" />
      </geometry>
    </collision>
  </link>
  <joint name="L_Wrist_z" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_Wrist__1" />
    <child link="L_Wrist" />
    <axis xyz="0 0 1" />
    <limit lower="-3.141592654" upper="3.141592654" effort="300" velocity="100" />
    <dynamics damping="30" friction="0" />
  </joint>
</robot>